<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div>  
  <header>
    <h1>Add a Student</h1>
  </header>
</body>
  <form class = "list" method = "post" action = "/students">
    <div class = "fields">
      <label>Student First Name</label>
      <input type="text" name = "first_name"><br />

      <label>Student Last Name</label>
      <input type="text" name = "last_name"><br />

      <label>Student email Name</label>
      <input type="text" name = "email"><br />      

      <label>Student Gitname</label>
      <input type="text" name = "gitname"><br />

      <label>Student Birthday</label>
      <input type="text" name = "birthday"><br />

      <button class = "create-button">Add Student</button>
      
    </div>    
  </form>
  </div>
</html>